@page
@model Project_PRN222_G5.Web.Pages.Cinema.DetailsModel
@{
    ViewData["Title"] = "Cinema Details";
}

<h1>Cinema Details</h1>

<div>
    <h4>@Model.Cinema.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Cinema.Name</dd>

        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Cinema.Address</dd>

        <dt class="col-sm-2">Created At</dt>
        <dd class="col-sm-10">@Model.Cinema.CreatedAt.ToString("g")</dd>

        <dt class="col-sm-2">Updated At</dt>
        <dd class="col-sm-10">
            @(Model.Cinema.UpdatedAt?.ToString("g") ?? "N/A")
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cinema.Id" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
